.aboutMeWrapper{
    box-sizing: border-box;
    padding:90px 5%;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;    
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height:2em;
    background-color: rgba(255, 255, 255, 0.568);
}


.aboutMeWrapper__box{
    color: #fff;
    width:40%;
    text-align: justify;
    margin: 1rem;
    padding:1rem;
    background: #000000; 
}

.aboutMeWrapper__sidebox{
    color: rgb(49, 47, 47);
    width:45%;
    text-align: justify;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 2rem;
    padding:0;
    box-shadow: 0px 1px #eee;
}
.aboutMeWrapper__sidebox em{
    color: #000000;
    display : block;
    margin: auto;
    text-align: center;
    padding: 3px;
    font-weight: bolder;
    font-size: 1.2rem;
}

.name{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    white-space: nowrap;
    font-weight: 900;
    font-size: 1.2rem;
}

progress[value] {
    width: 500px;
    height: 20px;
  }

  .bar { 
    height: 10px;  /* Can be anything */
    width:100%;
	background: #213d85d8;
    padding: 5px;
    margin-bottom: 12px;
    z-index:1;
}

.bar > span {
    display: block;
    height: 100%;
    background-color: #e0bb54;
    overflow: hidden;
  }

 
  .skillColumn{      
    display: inline-block;
      width: 40%;
      margin: 5%;
  }



  @media (max-width:768px){
    .aboutMeWrapper__box,
    .aboutMeWrapper__sidebox
    {
        width: 100%;
    }
    .skillColumn{
        margin: 0px;
        width:95%;
    }
}